@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather&family=Montserrat&family=Poppins:wght@300;500;700&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}

h1{
    font-size: 50px;    
}

span{
    font-size: 80px;
}


#hero {
    background: url(/img/simon-abrams-k_T9Zj3SE8k-unsplash.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding:0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h1,h2{
    font-weight: 400;
    color: #621c1c;
}


#black_box{
    background-color: #000;
    color: white;
}

#black_box h3{
    font-weight: 400;
    font-size: 80px;
    text-align: center;
}

#black_box span{
    font-size: 96px;
}

#card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 10px;
    margin: 40px 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}


.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    text-align: center;
    max-width: 340px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.card img {
    margin-bottom: 15px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.card-content{
    
    height: 50%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
}

.card-content h3{
    
    margin: 0;
    font-size: 1.5rem;
}

.card-content p{
    margin: 0;
    font-size: 1rem;
}

#bottom-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.bottom-card1{
    padding: 40px 20px;
    color: white;
    text-align: center;
    background-color: rgb(203, 55, 55);
    max-width: 500px;
    flex: 1;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
}

.bottom-card2{
    padding: 40px 20px;
    color: white;
    text-align: center;
    background-color: rgb(87, 31, 218);
    max-width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
    #hero {
        padding: 0 10%;
        background-position: 70%;
    }

    #hero h1,
    #hero h2 {
        font-size: 40px;
    }

    #black_box h3 {
        font-size: 24px;
    }

    #black_box span{
        font-size: 80px
    }

    

    .card {
        max-width: 280px;
    }

    #bottom-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .bottom-card1,
    .bottom-card2 {
        padding: 20px;
        height: auto;
        max-width: 100%;
        border-radius: 0;
    }

    .bottom-card1 h1,
    .bottom-card2 h1 {
        font-size: 30px;
    }

    .bottom-card1 p,
    .bottom-card2 p {
        font-size: 16px;
    }
}





